{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 90px; min-height: 80vh; max-width: 70%;">
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form method="post">{% csrf_token %}
        {{wizard.management_form}}
        {{ wizard.form.non_field_errors }}

        <div class="row">
            <div class="col-6">
                {{wizard.form.full_name.errors}}
                {{wizard.form.full_name|as_crispy_field}}
            </div>
            <div class="col-6">
                {{wizard.form.id_staff_number.errors}}
                {{wizard.form.id_staff_number|as_crispy_field}}
            </div>
            <div class="col-6">
                {{wizard.form.mobile_number.errors}}
                {{wizard.form.mobile_number|as_crispy_field}}
            </div>
            <div class="col-6">
                {{wizard.form.email_address.errors}}
                {{wizard.form.email_address|as_crispy_field}}
            </div>
            <div class="col-12">
                {{wizard.form.organization_department.errors}}
                {{wizard.form.organization_department|as_crispy_field}}
            </div>
            <div class="col-6">
                {{wizard.form.date_of_visit.errors}}
                {{wizard.form.date_of_visit|as_crispy_field}}
            </div>
            <div class="col-6">
                {{wizard.form.time_of_visit.errors}}
                {{wizard.form.time_of_visit|as_crispy_field}}
            </div>
            <div class="col-12">
                {{wizard.form.priority_level.errors}}
                {{wizard.form.priority_level|as_crispy_field}}
            </div>

            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    <p>
                        Do you have people accompanying you? Please fill this form below.
                    </p>
                </div>

                <div id="attendee-cont" class="col-12">
                    <!-- <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="fullname[]">Full Name</label>
                            <input type="text" class="form-control" name="fullname" id="fullname"
                                placeholder="Full Name" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_no[]">ID Number</label>
                            <input type="text" class="form-control" name="id_no" id="id_no" placeholder="ID No"
                                maxlength="8" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="phone[]">Phone Number</label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone No"
                                maxlength="10" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="designation[]">Designation</label>
                            <input type="text" class="form-control" name="designation" id="designation"
                                placeholder="Designation" />
                        </div>
                    </div> -->
                </div>
                <a href="javascript:;" id="addMore" class="btn btn-info btn-user btn-sm">Add More
                </a>
                <small class="text-muted">Click this button to add more visitors</small><br />

            </div>
            <div class="col-12">
                {{wizard.form.reason_for_visit.errors}}
                {{wizard.form.reason_for_visit|as_crispy_field}}
            </div>
            <div class="col-12">
                {{wizard.form.nature_of_work.errors}}
                {{wizard.form.nature_of_work|as_crispy_field}}
            </div>
            <div class="col-12">
                {{wizard.form.action_required_status.errors}}
                {{wizard.form.action_required_status|as_crispy_field}}
            </div>

        </div>

        <!-- <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
            {{ form | crispy }}
            {% endfor %}
            {% else %}
            {{ wizard.form | crispy }}
            {% endif %}
        </table> -->
        <div class="container-fluid">
            <div class="d-flex justify-content-around min-w-100 p-3">
                {% if wizard.steps.prev %}

                <!-- <button class="btn btn-info col-3" name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}">first step</button> -->
                <button class="btn btn-info col-3" name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.prev }}">Previous</button>
                {% endif %}
                <button class="btn btn-success col-3" type="submit">Next</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    let i = 1;
    document.getElementById("addMore").onclick = () => {
        const template = `
                    <div class="form-group col-4">
                        <label for="fullname">Full Name</label>
                        <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full Name">
                    </div>
                    <div class="form-group col-4">
                    <label for="id_no">ID Number</label>
                    <input type="number" class="form-control" name="id_no" id="id_no" placeholder="ID No">
                    </div>
                    <div class="form-group col-4">
                    <label for="phone">Phone Number</label>
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone No">
                    </div>
            `;
        let container = document.getElementById("attendee-cont");
        let div = document.createElement("div");
        div.className = "col-12 row m-1";
        div.innerHTML = template;
        container.append(div);
        i++;
    };

</script>
{% endblock %}