{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- ======= Hero Section ======= -->
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="container-fluid">
        <div class="row justify-content-center">
            
            <div class="col-4">
                <a href="/rules/" class="btn btn-info btn-lg btn-block">previous</a>
            </div>

            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">next</button>
            </div>
        </div>
    </div>

</form>
<!-- End Hero -->
{% endblock %}