{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->

<div class="container min-vh-80" style="margin-top: 90px; min-height: 80vh; max-width: 70%; font-weight: bold;">
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form method="post" class="form hero">
        {% csrf_token %}
        {{ wizard.management_form }}
        <!-- {{ form|crispy }} -->
        <div class="container min-vh-100">
            <div class="text-center pt-20 pe-0 pb-10 ps-0 fw-bold" style="font-size: 30px; color: #939393; font-weight: bolder;">
                DC Rules
            </div>
            <div class="p-10 w-70">
                <p>Anyone seeking access to the DC must adhere to the rules below for harmonious
                    coexistence and
                    operation of the services and equipment in the facility;
                </p>

                <ol>
                    <li>Do not enter the DC with shoes-use designated footwear-DC is a dust free
                        zone</li>
                    <li>Do not eat inside the DC</li>
                    <li>Bags are not allowed inside the DC</li>
                    <li>Always register entry and exit from the DC-Manually or/and electronically.
                    </li>
                    <li>Access to DC is only for authorized service providers, contractors and
                        staff.</li>
                    <li>Access to datacenter shouid be sought at-least one daybefore.</li>
                    <li>Always ensure the doors to the DC are closed.</li>
                    <li>In case of fire/alarm exit through the designated fire exits & notifi, the
                        security guard and
                        the DC staff.</li>
                    <li>Always maintain the set standard (NDC is a tier III DC) when undertaking any
                        activity in the DC.
                        E.g all network & power cables and devices should be properly managed and
                        labeled.</li>
                    <li>Always follow instructions/designs provided by your supervisor.</li>
                    <li>Always seek guidance from DC staff if you are not sure what you should do.
                    </li>
                    <li>A11 equipment going in and out the datacenter must be recorded on the
                        provided counter book for
                        traceability and accountability.</li>
                    <li>Everyone entering to the DC must provide identification documents i.e.
                        ID/Passport.</li>
                    <li>Removable storage media (Memory cards, flash disk, HDD) are not allowed into
                        the DC.</li>
                </ol>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">

                    <!-- <div class="col-4">
                        <a href="/" class="btn btn-danger btn-lg btn-block">Disagree</a>
                    </div> -->

                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block bg-dark form-button">Agree</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<!-- End Hero -->
{% endblock %}