{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container" style="display: grid; align-items:center; justify-content:center; margin:auto;">
    <form class="mt-5 pt-5 min-width-60" style=" min-height:88vh" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>

{% endblock %}