{% extends "base.html" %}
{% load static %}
{% block content %}

<table class="table" style="margin-top:100px">
    <thead>
    <tr>
        <th>#</th>
        <th>Visitor</th>
        <th>Time</th>
        <th>Date</th>
        <th>priority</th>
        <th>reason</th>
        <th>status</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% if  visits %}
    {% for visit in visits %}
    {% if visit.personnel__primary_personnel == True %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ visit.personnel__full_name }} </td>
            <td>{{ visit.time_of_visit }}</td>
            <td>{{ visit.date_of_visit }}</td>
            <td>{{ visit.priority_level }}</td>
            <td>{{ visit.reason_for_visit }}</td>
            <td>{{ visit.status }}</td>
            <td>
                <a href="{% url 'visit_request' visit.id %}" class="btn btn-primary">View</a>
            </td>
        </tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <tr>

        <td colspan="12" class="text-center">No records found</td>


    </tr>
    {% endif %}
    </tbody>

</table>
{% endblock %}