{% extends "base.html" %}
{% load static %}
{% block content %}

<table class="table" style="margin-top:100px">
    <thead>
    <tr>
        <th>#</th>
        <th>Visitor</th>
        <th>Time</th>
        <th>Date</th>
        <th>priority</th>
        <th>reason</th>
        <th>status</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for visitor in visitors %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ visitor.name }}</td>
        <td>{{ visitor.time }}</td>
        <td>{{ visitor.date }}</td>
        <td>{{ visitor.priority }}</td>
        <td>{{ visitor.reason }}</td>
        <td>{{ visitor.status }}</td>
        <td>
            <a href="{% url 'accept' %}" class="btn btn-primary">Accept</a>
            <a href="{% url 'decline' %}" class="btn btn-danger">Decline</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}