{% extends "base.html" %}
{% load static %}
{% block content %}

<table class="table" style="margin-top:100px">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th><a class="btn-all" href="/applicants/all" >All</a></th>
            <th><a class="btn-all" href="/applicants/pending" >Pending</a></th>
            <th><a class="btn-all" href="/applicants/approved" >Approved</a></th>
            <th><a class="btn-all" href="/applicants/rejected" >Rejected</a></th>
            <th></th>
            <th></th>

        </tr>
        <tr>
            <th>#</th>
            <th>Visitor</th>
            <th>Department/Organization</th>
            <th>Priority</th>
            <th>Time</th>
            <th>Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if visits %}
        {% for visit in visits %}
        {% if visit.personnel__primary_personnel == True %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ visit.personnel__full_name }} </td>
            <td>{{ visit.personnel__organization_department}}</td>
            <td>{{ visit.priority_level }}</td>
            <td>{{ visit.time_of_visit }}</td>
            <td>{{ visit.date_of_visit }}</td>
            <td>{{ visit.status }}</td>
            <td>
                <a href="{% url 'visit_request' visit.id %}" class="btn-all">View</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr>

            <td colspan="12" class="text-center">No records found</td>


        </tr>
        {% endif %}
    </tbody>

</table>
{% endblock %}